version: "3"

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: messages
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    ports:
      - "5555:5432"

volumes:
  db_data:
